
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // By default, deny all access to all documents.
    // This is a secure starting point.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
